extends ../../../templates/navbarclient.pug
block content
    .right_col(role='main')
        div
            .clearfix
            .row
                .col-md-12
                    .x_panel
                        .x_panel
                            .x_title
                                each list in listtab
                                    h1 My List: "#{list.strRequestName}"
                                    .clearfix
                            br
                            each list in listtab
                                if (list.strRequestStatus == 'Draft' || list.strRequestStatus == 'On process')
                                    button.btn.btn-success.btn-lg(type='button' data-toggle="modal" data-target="#Add")
                                        i.fa.fa-plus
                                        | &nbspAdd Service
                                else if (list.strRequestStatus == 'On deployment' || list.strRequestStatus == 'Pending')

                                br
                                each count in counttab
                                    if (list.strRequestStatus == 'Draft' && count.count != 0)
                                        a(href='/request_add/submit_request_'+list.intRequestID)
                                            button.btn.pull-right.btn-success.btn-lg(type='button')
                                                i.fa.fa-envelope
                                                |   Submit List
                                    else if list.strRequestStatus == 'On process' || list.strRequestStatus == 'Pending'
                            br
                            h2 Services:
                            table.table.jambo_table.bulk_action
                                thead
                                    tr
                                        th Number
                                        th Service
                                        th Quantity
                                        th Approved
                                        th Reject
                                        th Action
                                tbody
                                each item in itemtab
                                    each list in listtab  
                                        tr
                                            td #{item.intIRequest_No}
                                            td #{item.strName}
                                            td #{item.intIQuantity}
                                            td 
                                            td 
                                            td
                                                button.btn.btn-info.btn-xs(type='button' data-toggle="modal" data-target="#view_item"
                                                                        , data-requestno=item.intIRequest_No, data-servicename=item.strName, data-quantity=item.intIQuantity, data-gender=item.strIRequestGender, data-educ=item.strIRequestEduc, data-exp=item.intIRequestExp
                                                                        ) View
                                                    if list.strRequestStatus == 'Draft'
                                                        button.btn.btn-warning.btn-xs(type='button' data-toggle="modal" data-target="#edit_item") Edit
                                                        button.btn.btn-danger.btn-xs(type='button' data-toggle="modal" data-target="#remove_item") Delete
                                                    else if list.strRequestStatus == 'On process'
                                                        a(href='result_'+item.intIRequestID+item.intIRequest_No)
                                                            button.btn.btn-primary.btn-xs(type='button') View Result
                                                        button.btn.btn-danger.btn-xs(type='button' data-toggle="modal" data-target="#remove_item") Delete
                        h3 Approved:
                        .clearfix
                            each hw in hwtab
                                .col-md-4.col-sm-4.col-xs-12.profile_details
                                    form#demo-form2.form-horizontal.form-label-left(method="POST" action="/request_add/decision_"+hw.intRRequest_No)
                                        input.form-control.col-md-7.col-xs-12(type='text', id='_id', required='required', name='hwid', value=''+hw.intRHWID, style="display:none;")
                                        input.form-control.col-md-7.col-xs-12(type='text', id='_id', required='required', name='transid', value=''+hw.intRRequestID, style="display:none;")                              
                                        .well.profile_view
                                            .col-sm-12
                                                h4.brief
                                                    i #{hw.strName}
                                                .left.col-xs-7
                                                    h2 #{hw.strFName} #{hw.strLName}
                                                    p
                                                        | Age:
                                                        strong  #{hw.age} 
                                                    ul.list-unstyled
                                                        li
                                                            | Gender: 
                                                            b #{hw.strGender}
                                                        li
                                                            | Working Experience: 
                                                            b 
                                                        li
                                                            | Education: 
                                                            b 
                                                .right.col-xs-5.text-center
                                                    img.img-circle.img-responsive(src='../images/'+hw.strPicture, alt='', style='width:100px; height:100px')
                                                .col-xs-12.col-sm-8.emphasis
                                                    a(href='hw_profile_'+hw.intRRequestID+hw.intRHWID)
                                                        button.btn.btn-primary(type='button')
                                                            i.fa.fa-user  
                                                            |  View Profile
                        .form-group.pull-right
                            .col-md-12.col-sm-9.col-xs-12.pull-right
                                br
                                a(href='/request_add')
                                    button.btn.btn-primary.btn-lg(type='button') Back
                                each noofapprove in noofapprovetab
                                    each list in listtab
                                        if noofapprove.NOOFapprove > 0 && (list.strRequestStatus!='Pending' && list.strRequestStatus!='Finished')
                                            button.btn.btn-success.btn-lg(type='button' data-toggle="modal" data-target="#deployment") Proceed to Deployment
                                        else
    // Small modal
    #myListCancel1.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#myModalLabel2.modal-title
                .modal-body
                    h3
                        center
                            b Warning!!!
                    p
                        center
                            big Are you sure you want to cancel request in this household worker?
                .modal-footer
                    button.btn.btn-primary(type='button', data-dismiss='modal') No
                    button.btn.btn-primary(type='button') Yes
    // /modals

    // Add Service Modal
    #Add.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title Add Service
                .modal-body
                    .x_panel
                        .x_content
                            br
                            each list in listtab
                                form(method='POST', action='add_to_mylist_'+list.intRequestID).form-horizontal
                                    .form-group
                                        label.control-label.col-md-5.col-sm-3.col-xs-12
                                            | Service:
                                            span.required
                                        .col-md-2.col-sm-9.col-xs-12
                                            select#skil(name='service').form-control
                                                each service in servicetab
                                                    option(value=''+service.intID) #{service.strName}
                                    .form-group
                                        label.control-label.col-md-5.col-sm-12.col-xs-12
                                            | Quantity
                                            span.required
                                        .col-xs-1
                                            input.form-control(type='number' name='quantity' min='1', max='10' value='1' required)
                                    .form-group
                                        label.control-label.col-md-5.col-sm-12.col-xs-12
                                            | Age (From - To):
                                            span.required
                                        .col-xs-2
                                            input.form-control(type='number' name='age1' min='18', max='100' value='18' required)
                                        .col-xs-2
                                            input.form-control(type='number' name='age2' min='18', max='100' value='18' required)   
                                    .form-group
                                        label.control-label.col-md-5.col-sm-3.col-xs-12
                                            | Gender:
                                            span.required
                                        .col-md-2.col-sm-9.col-xs-12
                                            select(name='gender').form-control
                                                option(value='Any') Any
                                                option(value='Male') Male
                                                option(value='Female') Female
                                    .form-group
                                        label.control-label.col-md-5.col-sm-3.col-xs-12
                                            | Highest Educational Attainment:
                                            span.required
                                        .col-md-2.col-sm-9.col-xs-12
                                            select.form-control(name='educ')
                                                option(value='Elementary') Elementary
                                                option(value='High School') High School
                                                option(value='College') College
                                                option(value='Vocational') Vocational
                                    .form-group
                                        label.control-label.col-md-5.col-sm-3.col-xs-12
                                            | Work Experience (at least):
                                            span.required
                                        .col-md-2.col-sm-6.col-xs-12
                                            input#first-name.form-control.col-md-7.col-xs-12(type='number' name='workexp' value='0')    
                                    .form-group
                                        label.control-label.col-md-5.col-sm-3.col-xs-12
                                            | Work Type:
                                            span.required
                                        .col-md-5.col-sm-6.col-xs-12
                                            input#optionsRadios1(type='radio', checked='', value='stayin', name='worktype')
                                            |  Stay in &nbsp
                                            input#optionsRadios1(type='radio', checked='', value='stayout', name='worktype')
                                            |  Stay out


                                            //- label
                                            //-     input#optionsRadios1(type='radio', checked='', value='option1', name='optionsRadios')
                                            //-     |  Option one. only select one option
                                        
                                    .x_panel
                                        br
                                        h5 Other Attributes : 
                                        br  
                                        //- .form-group
                                        //- each skill in skilltab
                                        //-     .form-group
                                        //-         .checkbox
                                        //-             label
                                        //-                 input.flat(id=''+skill.intID, type='checkbox')
                                        //-                 |  #{skill.strName}
                                        .form-group.pull-right
                                            .col-md-12.col-sm-9.col-xs-12.pull-right
                                                button.btn.btn-danger.btn-lg(type='button'  data-dismiss='modal') Cancel
                                                button.btn.btn-success.btn-lg(type='submit') Submit

    
    // View Item Modal
    #view_item.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                    h4
                        b Number: 
                        i#a
                .modal-body
                    .tile-stats
                        ul
                            li 
                                b Type Of Service:
                                i#b
                            li 
                                b Quantity:
                                i#c
                            li Age:
                            li 
                                b Gender:
                                i#d
                            li 
                                b Educational Attainment:
                                i#e
                            li 
                                b Work Experience:
                                i#f
    
    // Deployment Modal
    #deployment.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                    h4
                        b Deployment Details
                .modal-body
                    form.form-horizontal.form-label-center(method="POST" action='/request_add/contract') 
                        each list in listtab
                            input(id = 'idtrans' type='text', required='required', name='transid', value=''+list.intRequestID, style="display:none;")  
                            input(id='thedate' type='date', name='reqdate' style='display:none;')
                            input(id='invo' type='text', name='invnum' style='display:none;')
                            br
                            .form-group
                                label.control-label.col-md-5 Type of Deployment
                                .col-md-3
                                    select.form-control(name='dep')
                                        each fee in feetab
                                            option(value=''+fee.intID) #{fee.strName} &nbsp&nbsp  + P #{fee.fltFee}
                            .form-group
                                label.control-label.col-md-5
                                    | Preferred Date For Deployment
                                    span.required *
                                .col-md-3
                                    input.form-control.has-feedback-left(type='date', name='datedep')
                                    span.fa.fa-calendar-o.form-control-feedback.left(aria-hidden='true')
                                    span#inputSuccess2Status4.sr-only (success)
                            .form-group
                                label.control-label.col-md-5
                                    | Preferred Time For Deployment
                                    span.required *
                                .col-md-3
                                    .input-group.date
                                        input.form-control(type='time' name='timedep')
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-time 
                            .form-group.pull-right
                                button.btn.btn-success.btn-lg(type='submit',  onCLick='time();') Next
    script.
        function time(){
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();
            var hh = today.getHours();
            var min = today.getMinutes();
            var sec = today.getSeconds();
            var x= document.getElementById("thedate");
            var y=document.getElementById("idtrans").value
            var inv;
            
            if(dd<10) {
                dd = '0'+dd
            } 

            if(mm<10) {
                mm = '0'+mm
            } 

            today = yyyy + '-' + mm + '-' + dd ;
            //- document.write(today);
           document.getElementById("thedate").value=today;
           inv = yyyy+y;
           document.getElementById("invo").value=inv;
        }