extends ../../../templates/navbaradmin.pug

block content
    .right_col(role='main')
        .title_left
            h5
                | Transaction / Settlement / 
                b Finished Transaction
            .clearfix
            .row
                .col-md-12.col-sm-12.col-xs-12
                    .x_panel
                        br
                        .x_title
                            h1
                                b Finished Transaction
                        br
                        br
                        .x_panel
                            table#datatable.table.table-striped.table-bordered
                                thead
                                    tr
                                        th ID
                                        th NAME
                                        th DATE SETTLED
                                        th TRANSACTION WILL END
                                        th STATUS
                                        th ACTION
                                tbody
                                    each list in listtab
                                        tr
                                            td #{list.intTRequestID}
                                            td #{list.strName}
                                            td #{list.datDateSettled}
                                            td #{list.dateexpire}
                                            td #{list.strTStatus}
                                            td 
                                                a(href='transaction_client_request_')
                                                    button.btn.btn-info(type='button')
                                                        i.fa.fa-eye
                                                        |   View