doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Household Worker
    // Bootstrap
    link(href='../admin/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // Font Awesome
    link(href='../admin/gentelella/vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // NProgress
    link(href='../admin/gentelella/vendors/nprogress/nprogress.css', rel='stylesheet')
    // Custom Theme Style
    link(href='../admin/gentelella/build/css/custom1.min.css', rel='stylesheet')
    // For dynamic date and time
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    script(type='text/javascript', src='../admin/gentelella/production/js/date_time.js')
    // Switchery
    link(href='../admin/gentelella/vendors/switchery/dist/switchery.min.css', rel='stylesheet')

  body.nav-md.footer_fixed
    each user in usertab
      .container.body
        .main_container
          .col-md-3.left_col
            .left_col.scroll-view
              .navbar.nav_title1(style='border: 0;')
                | &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                img(src='')
              // menu profile quick info
              .profile.clearfix
                div
                  img.img-circle.profile_img(src='../images/'+user.strPicture, alt='...')
                div
                  h2 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp #{user.strFName} #{user.strLName}
              // /menu profile quick info
              br
              // sidebar menu
              #sidebar-menu.main_menu
                .menu_section
                  h3
                  ul.side-menu
                    li
                      | &nbsp&nbsp
                      a(href='hwRegi')
                        i.fa.fa-user
                        |  Profile
                    li
                      | &nbsp&nbsp
                      a(href='CreateList')
                        i.fa.fa-edit
                        |  My List
                    li
                      | &nbsp&nbsp
                      a(href='hwRegi')
                        i.fa.fa-envelope
                        |  Messages
                    li
                      | &nbsp&nbsp
                      a(href='utilities')
                        i.fa.fa-cogs
                        |  Settings
                    li
                      | &nbsp&nbsp
                      a(href='utilities')
                        i.fa.fa-sign-out
                        |  Logout
              // /sidebar menu
              // /menu footer buttons
              .sidebar-footer
              // /menu footer buttons
          // top navigation
          .top_nav
            .nav_menu1
              .nav.toggle
                a#menu_toggle
                  i
              ul.nav1.navbar-nav1.navbar-right
                li
                li
                  a
                    span#date_time
                  script(type='text/javascript').
                    window.onload = date_time('date_time');
                li
                  a.user-profile.dropdown-toggle(href='javascript:;', data-toggle='dropdown', aria-expanded='false')
                    img(src='images/img.jpg', alt='')
                    b #{user.strFName}
                    span.fa.fa-angle-down
                  ul.dropdown-menu.dropdown-usermenu.pull-right
                    li
                      a(href='javascript:;')  Profile
                    li
                      a(href='javascript:;')
                        span.badge.bg-red.pull-right 50%
                        span Settings
                    li
                      a(href='javascript:;') Help
                    li
                      a(href='/login')
                        i.fa.fa-sign-out.pull-right
                        |  Log Out
                li(role='presentation')
                  a.dropdown-toggle.dropdown-toggle(href='javascript:;', data-toggle='dropdown', aria-expanded='false')
                    b My Client
                    span.badge.bg-green
                li
                  a.user-profile.dropdown-toggle(href='javascript:;', data-toggle='dropdown', aria-expanded='false')
                    img(src='images/img.jpg', alt='')
                    b Request
                    span.fa.fa-angle-down
                  ul.dropdown-menu.dropdown-usermenu.pull-right
                    li
                      a(href='/request_leave') Request a Leave
                    li
                      a(href='javascript:;') Replace Client
                    li
                      a(href='javascript:;') Report Client
                li
                  a(href='/home_householdworker') Home  
          // /top navigation
          // page content
          block content
          // /page content
        // jQuery
        script(src='../admin/gentelella/vendors/jquery/dist/jquery.min.js')
        // Bootstrap
        script(src='../admin/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js')
        // Datatables
        script(src='../admin/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js')
        script(src='../admin/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')
        script(src='../admin/gentelella/build/js/custom.min.js')
        // Switchery
        script(src='../admin/gentelella/vendors/switchery/dist/switchery.min.js')
        script.
         $('#viewjob').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var id = button.data('id')
              var id2 = button.data('id2')

              var modal = $(this)
              modal.find('.modal-body #_id').val(id)
              modal.find('.modal-body #_id2').val(id2)
            });
